$mainBlue:black;
$mainFontFamily:'Roboto',sans-serif;
body{
    text-decoration: none;
    color: $mainBlue;
    padding:25px; 
    margin: 10px;
    columns: 300px 2;
}
.box {
    a{
        display:block;
        padding:10px;
    }

}